.DS_Store
**/*.xcodeproj/xcuserdata/
**/*.xcworkspace/xcuserdata/
**/*.xcodeproj/xcshareddata/
ETTrace-iphonesimulator.xcarchive/
ETTrace-iphoneos.xcarchive/
./ETTrace.xcframework/
output.json
output.folded
.swiftpm
.build
output_*.json
