.DS_Store
**/*.xcodeproj/xcuserdata/
**/*.xcworkspace/xcuserdata/
**/*.xcodeproj/xcshareddata/
PerfAnalysis-iphonesimulator.xcarchive/
PerfAnalysis-iphoneos.xcarchive/
./PerfAnalysis.xcframework/
output.json
output.folded
