name: Release Workflow

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: macos-15

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Xcode select
        run: sudo xcode-select -s '/Applications/Xcode_16.0.app/Contents/Developer'
      - name: Setup Signing Certificate
        uses: apple-actions/import-codesign-certs@v2
        with: 
          p12-file-base64: ${{ secrets.CERTIFICATES_P12 }}
          p12-password: ${{ secrets.CERTIFICATES_P12_PASSWORD }}
      - name: Build ETTrace xcframework
        run: sh build.sh
      - name: Zip xcframework
        run: zip -r ETTrace.xcframework.zip ETTrace.xcframework
      - name: Build ETTraceRunner
        run: sh build_runner.sh
        env:
          SIGNING_IDENTITY: ${{ secrets.SIGNING_IDENTITY }}
      - name: Upload Artifact
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ETTrace.xcframework.zip
            ETTraceRunner
          body:
            Release ${{ github.ref }}
            Automated release created by GitHub Actions.
